
.quiz-notification .info-panel {
    font-size: 14px;
    padding: 1em 2em;
    margin: 2em 0;
    border: 1px solid #d8dcd9;
    border-left: 3px solid #54B948;
    background: none;
}

.quiz-notification .title-form {
    border-bottom: 1px solid #ccc;
    margin: 2em 0;
}

/* Table styles */
.quiz-notification .generaltable {
    border: 1px solid #a6a6a6;
    border-top: 3px solid #54B948;
}
.quiz-notification .generaltable th, .quiz-notification .generaltable td {
    border-right: 1px solid #d8dcd9 !important;
    vertical-align: top;
}

.quiz-notification .generaltable td {
    padding: 0.6em;
}

.quiz-notification .checkbox {
    margin: 0;
    padding: 9px 0 0 9px;
}
.quiz-notification .checkbox div {
    margin: 0 !important;
    padding: 0 !important;
}

.quiz-notification .checkbox i {
    font-size: 18px;
    color: #54B948;
}


.quiz-notification .button {
    clear: both;
    margin-top: 4em;
}

.quiz-notification.config .button i {
    font-size: 18px;
    color: #fff;
}

.quiz-notification.config i {
    font-size: 18px;
    color: #54B948;
}

.quiz-notification .detail-plus, 
.quiz-notification .detail-plus:hover {
    background: none  !important;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.quiz-notification .center {
    text-align: center;
}

div .quiz-notification .color-red {
    color: #990000;
}
div .quiz-notification .color-blue {
    color: #0054A4;
}

.quiz-notification .loader {
    font-size: 50px !important;
    position: fixed;
    left: 50%;
}


/* Form group */
.quiz-notification #fgroup_id_buttonar {
    background: none;
    margin: 0;
    padding: 1em 0 0;
    border: none;
}

/* Modal */

.notification-modal .modal-footer {
    background: none;
}

.quiz-notification blockquote {
    margin: 2em 1em 4em 1em;
}

.quiz-notification blockquote p {
    font-size: 14px;
}