<br/><div class="alert alert-info" role="alert">{{#str}}msg_info_config_notifications, local_quiz_notification{{/str}}</div><br/>

<div class="quiz-notification config">
<i class="fa fa-circle-o-notch fa-spin text-muted hidden loader ml-1 lem-fs-s"></i>
<table  class="table generaltable" id="config-notification" >
  <thead>
    <tr>
        <th scope="col">{{#str}}id, local_quiz_notification{{/str}}</th>
        <th scope="col">{{#str}}courseid, local_quiz_notification{{/str}}</th>
        <th scope="col">{{#str}}quizid, local_quiz_notification{{/str}}</th>
        <th scope="col">{{#str}}subject, local_quiz_notification{{/str}}</th>
        <th scope="col">{{#str}}body, local_quiz_notification{{/str}}</th>
        <th scope="col">{{#str}}date, local_quiz_notification{{/str}}</th>
        <th class="center" scope="col">{{#str}}edit, local_quiz_notification{{/str}}</th>
        <th class="center" scope="col">{{#str}}more, local_quiz_notification{{/str}}</th>
        <th class="center" scope="col">{{#str}}list, local_quiz_notification{{/str}}</th>
        {{#is_admin}}
          <th class="center" scope="col">{{#str}}delete, local_quiz_notification{{/str}}</th>
        {{/is_admin}}
    </tr>
    </thead>
    <tbody>
    {{#data}}
        <tr>
            <td>{{id}}</td>
            <td>{{courseid}} - {{coursename}}</td>
            <td>{{quizid}}</td>
            <td>{{subject}}</td>
            <td>{{{body}}}</td>
            <td><span class="hidden">{{date}}</span>{{strdate}}</td>
            <td class="center"><a href="{{ wwwroot }}/local/quiz_notification/add_notification.php?id={{id}}"><i class="fas fa-edit"></i></a></td>
            <td class="center">
              <button data-notificationid="{{id}}" class="detail-plus"><i class="color-blue fas fa-info-circle"></i></button>
            <td class="center">  
              {{^quizid}}
              <i class="fas fa-users-slash"></i> 
              <i class="fas fa-exclamation-triangle"></i>{{#str}}quizid_empty, local_quiz_notification{{/str}}
              {{/quizid}}
              {{#quizid}}
                <a href="{{ wwwroot }}/local/quiz_notification/send_notification.php?id={{id}}"><i class="fas fa-users"></i></a>
              {{/quizid}}
            </td>
            
            {{#is_admin}}
              <td class="center" scope="col">
                <a href="{{ wwwroot }}/local/quiz_notification/delete_notification.php?id={{id}}"><i class="fas fa-trash-alt color-red"></i></a>
              </td>
            {{/is_admin}}
        </tr>
    {{/data}}
  </tbody>
</table>
<div class="button">
  <a class="btn btn-primary" href="{{ wwwroot }}/local/quiz_notification/add_course.php"><i class="fas fa-plus"></i> {{#str}}additem, local_quiz_notification{{/str}}</a>
</div>
<div class="notification-modal"></div>
</div>