{{! Notification detail modal box }}

{{#notification}}
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
<div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-graduation-cap"></i> {{courseid}} - {{coursename}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><b>{{#str}}quiz, local_quiz_notification{{/str}}</b>: {{quizname}}</p>
            <p><b>{{#str}}date, local_quiz_notification{{/str}}</b>: {{date}}</p>
            <p><b>{{#str}}subject, local_quiz_notification{{/str}}</b>: {{subject}}</p>
            <p><b>{{#str}}body, local_quiz_notification{{/str}}</b>:</p><blockquote>{{{body}}}</blockquote> 
        </div>
        <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">{{#str}}close, local_quiz_notification{{/str}}</button>
        </div>
    </div>
</div>
</div>
{{/notification}}
